$primary-color: #2B2B2B;
$subtitle: #2B2B2B;
$shadow: #D3D3D3;


// Slider colors

$slider-github: #3C3C3C;
$slider-linkedin: #007CB8;
$slider-twitter: #00B7EB;
$slider-facebook: #2556A0;

// Theme , fail
//$color-text: #3B3F40;
//$color-text-lighter: lighten($color-text, 10%);
//$color-background: #F2F2E9;
//$color-shadow: #BFB9A4;
//$color-accent: #65D99C;
//$color-contrast: #0F9D84;

// Theme Toshl

$color-text: #4c4c4c;
$color-text-inverse: #f2f1e6;
$color-text-lighter: #808080;
$color-background: #f2f1e6;
$color-background-inverse: #3c3c3c;
$color-background-active: #4d4d4d;
$color-background-inactive: #1a1a1a;
