/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url("/fonts/lato-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Hairline"), local("Lato-Hairline"), url("/fonts/lato.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("/fonts/roboto-400-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("/fonts/roboto-400.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("/fonts/roboto-300-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("/fonts/roboto-300.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  color: #4c4c4c;
  min-width: 360px;
  background: #f2f1e6;
  font-size: 14px; }

.header {
  font-family: 'Lato';
  font-weight: 100;
  font-size: 12px;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 0 40px; }
  .header .header__title {
    color: #4c4c4c;
    font-size: 80px;
    text-shadow: 2px 2px 2px #808080; }
    .header .header__title a {
      text-decoration: none;
      color: inherit; }
  .header .header__subtitle {
    font-size: 14px;
    margin-top: 10px;
    color: #2B2B2B;
    font-weight: bold;
    font-style: italic; }

.portfolio .portfolio__block {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Open-sans", sans-serif; }
  .portfolio .portfolio__block:hover .portfolio__block__info {
    background: #4d4d4d; }
    .portfolio .portfolio__block:hover .portfolio__block__info .portfolio__block__info__title a {
      color: #f2f1e6; }
  .portfolio .portfolio__block .portfolio__block__info {
    padding: 9px; }
    .portfolio .portfolio__block .portfolio__block__info .portfolio__block__info__title {
      font-size: 1.3em;
      font-weight: 400;
      margin: 8px 0; }
      .portfolio .portfolio__block .portfolio__block__info .portfolio__block__info__title a {
        color: #4c4c4c;
        display: block;
        width: 100%;
        text-decoration: none; }
    .portfolio .portfolio__block .portfolio__block__info .portfolio__block__info__price {
      padding: 5px; }
  .portfolio .portfolio__block .portfolio__block__image :hover {
    background: black; }

.contact_row {
  font-family: "Roboto";
  margin-bottom: 15px;
  font-weight: 400; }
  .contact_row .contact_row__block {
    margin: auto;
    position: relative;
    max-width: 64px; }
    .contact_row .contact_row__block .contact_row__block__icon {
      max-width: 64px;
      z-index: 2; }
    .contact_row .contact_row__block .contact_row__block__slider {
      position: absolute;
      top: 0;
      left: 0px;
      line-height: 64px;
      visibility: hidden;
      z-index: 1;
      font-weight: bold;
      font-size: 1.35em; }
      .contact_row .contact_row__block .contact_row__block__slider.slider-facebook {
        color: #2556A0; }
      .contact_row .contact_row__block .contact_row__block__slider.slider-github {
        color: #3C3C3C; }
      .contact_row .contact_row__block .contact_row__block__slider.slider-twitter {
        color: #00B7EB; }
      .contact_row .contact_row__block .contact_row__block__slider.slider-linkedin {
        color: #007CB8; }
  .contact_row .contact_row__block:hover .contact_row__block__slider {
    left: 85px;
    visibility: visible; }

.half-bold {
  font-weight: 500; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

/*# sourceMappingURL=personal.css.map */
