@import '_colors';
@import '_fonts';


body {
  color: $primary-color;
  min-width:360px;
}

.header {
  font-family: 'Lato';
  font-weight: 100;
  font-size:12px;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align:center;
  margin: 0 0 40px;

  & .header__title {
    color: $primary-color;
    font-size: 80px;
    text-shadow: 2px 2px 2px $shadow;
    & a {
      text-decoration: none;
      color: inherit;
    }
  }

  & .header__subtitle {
    font-size: 14px;
    color: $subtitle;
    font-weight:bold;
    font-style: italic;
  }
}

.portfolio {
  .portfolio__block {
    text-align:center;
    margin-bottom:30px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding:4px;
    border:1px solid $shadow;

    .portfolio__block__info {
      padding:9px;

      .portfolio__block__info__title a{
        color: inherit;
        text-decoration:none;
      }
      .portfolio__block__info__price {
        padding:5px;
      }
    }
  }
}

.contact_row {
  font-family: "Roboto";
  margin-bottom: 15px;

  .contact_row__block {
    margin: auto;
    position:relative;
    max-width:64px;

    .contact_row__block__icon {
      max-width:64px;
      z-index:2;
    }

    .contact_row__block__slider {
      position:absolute;
      top:0;
      left:0px;
      line-height: 64px;
      visibility: hidden;
      z-index:1;
      font-weight:bold;
      font-size:1.35em;

      &.slider-facebook {
        color: $slider-facebook;
      }
      &.slider-github {
        color: $slider-github;
      }
      &.slider-twitter {
        color: $slider-twitter;
      }
      &.slider-linkedin {
        color: $slider-linkedin;
      }
    }
  }

  .contact_row__block:hover .contact_row__block__slider {
    left:85px;
    visibility: visible;
  }
}

.half-bold {
  font-weight:500;
}